{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
  <h3 align="center">Login</h3>
  <form method="POST">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <br />
    <div class="text-center"> 
      <button type="submit" class="btn" style="background-color: #b8d171; color: #ffffff;">Login</button>
    </div>
  </form>
</div>

<div class="container text-center" style="margin-top: 20px;">
  <p style="font-size: 14px; color: #808080;">Don't have an account?</p>
  <a href="sign_up.html" class="btn btn-primary" style="background-color: #ee694e;">Sign Up</a>
</div>
{% endblock %}


